<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/js/public/style.css">
</head>
<body>
<div id="example"></div>
<script src="/public/js/dist/bundle.js"></script>
</body>
</html>